<h1>Products:</h1>

{{#if products}}
    <ul class="product-list">
        {{#each products}}
            <li>
                <img src="{{this.image}}" alt="{{this.title}}">
                <h2>{{this.title}}</h2>
                <p><strong>Category:</strong> {{this.category}}</p>
                <p><strong>Size:</strong> {{this.size}}</p>
                <p><strong>Cena:</strong> {{this.price}} $</p>
                <a href="/products/{{this._id}}">Details</a>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>There are no products!</p>
{{/if}}
